@media (max-width: 1500px) {
  .section-contain {
    overflow: auto;
  }
  .section-description--2 {
    flex-direction: column;
    overflow: scroll;
  }
}
@media (max-width: 1200px) {
  .section-decription-4 {
    display: none;
  }
}
@media (max-width: 800px) {
  .authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
}

@media (max-width: 944px) {
  .foot-container {
    // background-color: red;
    justify-content: center;
    gap: 30px;
  }
  .navigation {
    justify-content: space-around;
    gap: 200px;
    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }
    .nav-links {
      display: none;
    }
  }
  .slider {
    background-position: center;
    background-size: contain;
  }
}
